In [1]:
#Dependancies

import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
hawaii_measurements = "Resources/hawaii_measurements.csv"

In [8]:
hawaii_stations = "Resources/hawaii_stations.csv"

In [5]:
# Read measurements data file with the pandas library
hawaii_measurements_df = pd.read_csv(hawaii_measurements, encoding = "ISO-8859-1")

In [9]:
# Read station Data file with the pandas library
hawaii_stations_df = pd.read_csv(hawaii_stations, encoding = "ISO-8859-1")

In [12]:
# Create a dictionary to stor dataframe for all years
All_DF={}

# Loop through each year
for file in filename:
    #create filename based on filename, year
    file_name=file+".csv"
    df_name=file.split("_")[1]
    #assign file path
    filepath=os.path.join("Resources/",file_name)
    #store data frme to dictionary with years as key and dataframe as value
    All_DF[df_name]=pd.read_csv(filepath,low_memory=False)
    print("Completed File :" + filepath)

Completed File :Resources/hawaii_measurements.csv
Completed File :Resources/hawaii_stations.csv

In [15]:
hawaii_stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [16]:
hawaii_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [18]:
#Inspect the data for NaNs and missing values.#store hawaii measurements df

hawaii_measurements=All_DF["measurements"]
print("Check for null values in hawaii_measurements ", hawaii_measurements.isnull().sum())

hawaii_stations=All_DF["stations"]
print("Check for null values in hawaii_stations ", hawaii_stations.isnull().sum())

Check for null values in hawaii_measurements  station       0
date          0
prcp       1447
tobs          0
dtype: int64
Check for null values in hawaii_stations  station      0
name         0
latitude     0
longitude    0
elevation    0
dtype: int64

In [20]:
#fill the missing values with mean values of the corresponding columns
clean_hawaii_measurements=hawaii_measurements.fillna(hawaii_measurements.prcp.mean())
clean_hawaii_measurements.prcp.isnull().sum()
#save to csv
filepath=os.path.join("Resources/","clean_hawaii_measurements.csv")
clean_hawaii_measurements.to_csv(filepath,index=False)

In [22]:

#print the df

print("Measurements :\n",clean_hawaii_measurements.head() )

print("===============================================")

print("Station :\n",hawaii_stations.head())

#save to csv
filepath=os.path.join("Resources/","clean_hawaii_stations.csv")

hawaii_stations.to_csv(filepath,index=False)

Measurements :
        station        date      prcp  tobs
0  USC00519397  2010-01-01  0.080000    65
1  USC00519397  2010-01-02  0.000000    63
2  USC00519397  2010-01-03  0.000000    74
3  USC00519397  2010-01-04  0.000000    76
4  USC00519397  2010-01-06  0.160644    73
===============================================
Station :
        station                                    name  latitude  longitude  \
0  USC00519397                    WAIKIKI 717.2, HI US   21.2716  -157.8168
1  USC00513117                    KANEOHE 838.1, HI US   21.4234  -157.8015
2  USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US   21.5213  -157.8374
3  USC00517948                       PEARL CITY, HI US   21.3934  -157.9751
4  USC00518838              UPPER WAHIAWA 874.3, HI US   21.4992  -158.0111

   elevation
0        3.0
1       14.6
2        7.0
3       11.9
4      306.6